<%- include("../layouts/userlayout/header.ejs")%>

  <!-- Your existing CSS links -->

  <!-- Add any additional custom styles here -->
  <style>
    /* Add your custom styles here */
    .card {
       margin: 50px;
       padding: 50px;
    }

    .order-confirmation {
      margin: 50px auto;
      margin-top: 5px;
      max-width: 800px;
      text-align: center;
     
    
    }
    .order-confirmation h3 {
      padding-top: 50px;
      color: #1b8f27;
      font-weight: bold;
    }
    .order-confirmation p {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 400;
      color: #000;
    }
    .order-confirmation a {
      color: #bd9806;
      text-decoration: underline;
    }
    
  </style>



<div class="hero-wrap hero-bread" style="background-image: url('/productImages/bg_6.jpg'); height: 3px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="order-confirmation">
          <div class="card">
          <h3>Order Confirmed!</h3>
          <p style="font-style: italic;">Your order has been successfully placed.</p>
          <p style="font-style: italic;">Thank you for shopping with us!</p>
            <p><strong>Order ID</strong>: <%=orderlist[0]._id%></p>
            <p><strong>Amount</strong>: <%=orderlist[0].totalPrice%></p>
            <p><strong>Payment Method</strong>:<%=orderlist[0].paymentMethod%></p>
            <p><strong><a href="/shop">Continue Shopping</a></strong></p>
            <h6><strong><a href="/orderDetails">Order Details</a></strong></h6>
            <h6 ><strong><a href="/home">Back to Home</a></strong></h6>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Your existing footer content -->

  
